<template>
  <div class="demo_block" >
      <h2>基本用法</h2>
        <slideshow
            width="800px"
            :imgArr="imgdata"
        ></slideshow>
  </div>
</template>

<script>
import slideshow from "./slideshow.vue"
export default {
    data () {
        return {
           imgdata:[
               {
                   title: 'meinv1',
                   image: require('./image/1.jpg')
               },
               {
                   title: 'meinv1',
                   image: require('./image/2.jpg')
               },
               {
                   title: 'meinv1',
                   image: require( './image/3.jpg')
               },
               {
                   title: 'meinv1',
                   image: require(  './image/4.jpg')
               }
           ]
        }
    },
    created(){
        
    },
    mounted () {
           
        },
    methods:{
            
    },
     components: {
            slideshow
        }
}
</script>


<style lang="stylus" rel="stylesheet/stylus" scoped>

</style>