<template>
  <div class="slideshow" :style="{ width: width}" @mouseenter="stop" @mouseleave="go">
        <transition-group tag="ul"  class="slide-ul" :name="swipeAction">
            <li v-for="(item,index) in imgArr" :key="index" v-show="index===currentIndex">
                <a href=""><img :src="item.image" alt=""></a>
            </li>
        </transition-group >
        <div class="bar">  
            <span v-for="(item, index) in imgArr" :key="index"  :class="{active:index===currentIndex}" @click="change(index)"></span>  
        </div>  
        <div class="pre" v-if="show" @click="pre()"><icon name="angle-left" scale="1" class="icon"></icon></div>
        <div class="next" v-if="show" @click="autoPlay()"><icon name="angle-right" scale="1" class="icon"></icon></div>
  </div>
</template>

<script>
export default {
    data () {
        return {
           currentIndex:0,
           timer:'',
           show:false,
           swipeAction:'swipe-left'
        }
    },
    props: {
            width: {
                type: String,
                default: "100%"
            },
            imgArr:{
                type:Array,
                default:[]
            }
        },
    created(){
        this.$nextTick(() => {
            this.timer = setInterval(() => {
                this.autoPlay()
            }, 4000)
        })
        console.log(this.imgArr)
    },
    mounted () {
        
    },
    methods:{
           autoPlay(){
                this.currentIndex++
                if (this.currentIndex > this.imgArr.length - 1) {
                    this.currentIndex = 0
                }
                this.swipeAction = 'swipe-left';
           },
           change(index){
               this.currentIndex = index;
               this.swipeAction = 'swipe-left';
           },
           go() {
                this.timer = setInterval(() => {
                    this.autoPlay()
                }, 4000)
                this.show = false
            },
            stop() {
                clearInterval(this.timer)
                this.timer = null
                this.show = true
            },
            pre(){
                this.currentIndex--
                if (this.currentIndex < 0) {
                    this.currentIndex = this.imgArr.length - 1
                }
                this.swipeAction = 'swipe-right';
            }
    },
}
</script>


<style lang="stylus" rel="stylesheet/stylus" scoped>
.slideshow
    height 300px
    overflow hidden
    position relative
    &>.slide-ul
        position relative
        width 100%
        height 100%
        &>li 
            position absolute
            width 100%
            height 100%
            &>a
                display inline-block
                width 100%
                height 100%
                &>img 
                    width 100%
                    height 100%
    .swipe-left-enter-active,.swipe-left-leave-active,.swipe-right-enter-active,.swipe-right-leave-active
        transition all 1s ease
    .swipe-left-enter
        transform translateX(100%)
    .swipe-left-leave-to
        transform translateX(-100%)
    .swipe-right-enter
        transform translateX(-100%)
    .swipe-right-leave-to
        transform translateX(100%)
    .pre,.next
        width 40px
        height 40px
        text-align center
        font-size 30px
        border-radius 50%
        background-color rgba(0,0,0,0.1)
        position absolute
        top 50%
        transform translate(0,-50%)
        text-decoration none
        color #fff
        cursor pointer
        .icon
            position absolute
            left 50%
            top 50%
            transform translate(-50%,-50%)
    .pre
        left 10px
    .next
        right 10px
    .bar 
        position absolute
        width 100%  
        bottom 10px
        z-index 10
        text-align center  
        span   
            width 20px 
            height 2px 
            background #ddd
            display inline-block
            margin-right 10px
            cursor pointer
        .active 
            background #fff !important
     
        
    

</style>
