<template>
   <div class="page-wrapper">
    <div class="page-info">
      <span class="item-count">总共<span>{{totals}}</span>条</span>
    </div>
    <div class="page-tab">
      <ul>
        <li class="prePage" @click="prePage" :disabled="preDisabled" :class="{canNot:currentPage==1}">上一页</li>
        <li class="cursor" v-show="this.totalPages > criterion && currentPage > 5" @click="one">1</li>
        <li class="cursor" v-show="this.totalPages > criterion && currentPage > 5">...</li>
        <li class="cursor" v-for="(item,index) in itemArr" :key="index" @click="changePage(item)" :class="{activePage:currentPage=== item}">{{item}}</li>
        <li class="cursor" v-show="totalPages > endShow">...</li>
        <li class="cursor" v-show="totalPages > endShow" @click="end" >{{totalPages}}</li>
        <li class="nextPage " @click="nextPage" :disabled="nextDisabled" :class="{canNot:currentPage==totalPages}">下一页</li>
      </ul>
    </div>
    <div class="page-dao">
        到第 <input type="text" v-model="daovle" class="inp" @blur="changeCount" @keyup.enter="changeCount"> 页
    </div>
   </div>
</template>

<script type="text/ecmascript-6">
    export default {
         data () {
            return {
                itemArr: [],
                nextDisabled: null,
                preDisabled: 'disabled',
                totalPages: 0, // 总页数
                currentPage: 1,
                size: this.pageSize, // 获取每页数量
                daovle: null,
                endShow: this.criterion
            }
        },
        created() {
            this.pages()
        },
        props: {
            pageSize: {  //每页显示的数量
                type: Number,
                default: 0
            },
            totals: {    //总条数
                type: Number,
                default: 0
            },
            //总页数少于多少,按最低标准显示
            criterion: {
                type: Number,
                default: 10
            },
            // centre: {
            //     type: Number,
            //     default: 7
            // }
        },
        methods: {
            one() {
                this.currentPage = 1
                this.endShow = this.criterion
                this.pages()
            },
            end() {
                this.currentPage = this.totalPages
                this.endShow = this.totalPages+1
                this.pages()
            },
            changePage(page) {
                this.currentPage = page
                this.pages()
            },
            prePage() {
                if(this.currentPage <= 1) return;
                this.currentPage--
                this.pages()
            },
            nextPage() {
                 if(this.currentPage >= this.totalPages) return;
                this.currentPage++
                this.pages()
            },
            changeCount() {
                if(this.daovle > this.totalPages) {
                    this.daovle = this.totalPages
                }
                this.currentPage =  this.daovle ? parseInt(this.daovle) :  this.currentPage
                this.pages()
            },
            pages() {
                
                // 2 2 6 4 5    7
                // 2 3 7 5 6    8
                // 2 4 8 6 7    9
                // 2 5 9 7 8    10 
                // 2 6 10 8 9   11

                // 5 6
                // 4 4 10 6 7  13

                //4 5
                // 2 2 6 4 5    9

                this.itemArr = [] // 每次改变得清空数组
                this.totalPages = Math.ceil(this.totals / this.pageSize)

                this.preDisabled = this.currentPage === 1 ? 'disabled' : null

                this.nextDisabled = this.currentPage === this.totalPages ? 'disabled' : null

                let start = 1

                let end = 0

                if(this.totalPages <= this.criterion){
                    end = this.totalPages
                } else {
                    start = this.currentPage - 4 > 1 ? this.currentPage - 2 : 1
                    end = this.currentPage > 5 ? (this.totalPages - this.currentPage >= 2 ? this.currentPage + 2 : this.totalPages) : 6
                    start = this.totalPages - this.currentPage >= 2 ? start : end - 4
                    if(this.currentPage <= this.totalPages - 4) {
                        this.endShow = this.criterion
                    }else {
                         start = this.totalPages - 5
                         end = this.totalPages
                        this.endShow = this.totalPages+1
                    }
                   
                }
                
                if(this.totalPages <= 5) {
                    start = 1
                    end = this.totalPages
                }
                for(let i = start; i <= end; i++){
                    this.itemArr.push(i)
                }
            }
        },
        watch: {
            currentPage(newVle) {
                this.$emit('current-change', newVle)
            }
        }
    }
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
   .page-wrapper
        white-space nowrap
        font-size 0
        .page-info
            display inline-block
            font-size 14px
            color #999
            margin-right 15px
        .page-tab
            display inline-block
            min-width 200px
            font-size 0
            .cursor
                display inline-block
                width 30px
                height 30px
                text-align center
                line-height 30px
                background #F4F4F5
                margin-left 15px
                border-radius 4px
                font-size 14px
                color #606266
                cursor pointer
                text-decoration none
                user-select none
                &.activePage
                    background #409EFF
                    color #fff
            .prePage, .nextPage
                display inline-block
                line-height 30px
                padding 0 8px
                background #F4F4F5
                font-size 12px
                color #606266
                border-radius 4px
                cursor pointer
                text-decoration none
                user-select none
                &.canNot
                    cursor not-allowed
                    color #C7C5CC
            .nextPage
                margin-left 15px
        .page-dao
            display inline-block
            font-size 14px
            color #606266
            margin-left 15px
            .inp
                width 30px
                line-height 20px
                background none 
                outline none 
                border 0px
                border 1px solid #ddd
                border-radius 4px
                color #606266
                padding-left 6px
                box-sizing border-box
                font-size 12px
</style>