<template>
   <div class="demo_block">
       测试
        <h2>基本用法</h2>
        <div class="source">
           <pagination 
                :totals="70"
                :pageSize="10"
                :criterion="10"
           ></pagination>
       </div>
       <h2>大于10页</h2>
       <div class="source">
           <pagination 
                :totals="totals"
                :pageSize="pageSize"
                @current-change="currentChange"
                :criterion="10"
           ></pagination>
       </div>
   </div>
</template>

<script type="text/ecmascript-6">
import pagination from './pagination.vue'
    export default {
        data () {
            return {
              totals: 1000,
              pageSize: 10
            }
        },
        props: {
           
        },
        methods: {
          currentChange(page) {
              console.log(page)
          }
        },
        components: {
            pagination
        }
    }
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
   
</style>