<template>
  <div class="time" >
       <div class="time-input" :class="{biak:show}" :style="{width:size}">
           <icon name="clock" class="input-clock"></icon>
           <input type="text" name="" id="" class="input-inner"  :class="{disabled:disabled}" :placeholder="placeholder" v-model="value" @change="$emit('change', $event.target.value)" @click="panelShow" :readonly="readonly" :disabled="disabled">
       </div>
       <div class="time-panel" v-show="show">
            <div class="time-panel-content">
                <div class="time-spinner">
                    <div class="time-spinner-wrapper">
                        <div class="scrollbar-wrap" @scroll.stop.prevent="scrollHour(1,$event)" @mouseleave="mouseleave(hourListHeight[hourIndex],hourListHeight[hourIndex+1],$event)" ref="hourWrap">
                            <ul class="spinner-list">
                                <li v-for="(item, index) in 24 " :key="index" class="time-spinner-item" :class="{current: !RestrictHour(index) && hourIndex===index,restrict:RestrictHour(index)}" @click="clickHourItem(1,hourListHeight[index],index,$event)">{{index < 10 ? '0' + index : '' + index}}</li>
                            </ul>
                        </div>
                    </div>
                     <div class="time-spinner-wrapper">
                        <div class="scrollbar-wrap" @scroll="scrollHour(2,$event)" @mouseleave="mouseleave(minuteSecondListHeight[minuteIndex],minuteSecondListHeight[minuteIndex+1],$event)" ref="minuteWrap">
                            <ul class="spinner-list">
                                <li v-for="(item, index) in 60" :key="index" class="time-spinner-item" :class="{current:!Restricminute[index] && minuteIndex===index,restrict: Restricminute[index]}" @click="clickHourItem(2,minuteSecondListHeight[index],index,$event)">{{index < 10 ? '0' + index : '' + index}}</li>
                            </ul>
                        </div>
                    </div>
                     <div class="time-spinner-wrapper">
                        <div class="scrollbar-wrap" @scroll="scrollHour(3,$event)" @mouseleave="mouseleave(minuteSecondListHeight[secondIndex],minuteSecondListHeight[secondIndex+1],$event)" ref="secondWrap">
                            <ul class="spinner-list">
                                <li v-for="(item, index) in 60" :key="index" class="time-spinner-item seconCurrent" :class="{current:secondIndex===index}" @click="clickHourItem(3,minuteSecondListHeight[index],index,$event)">{{index < 10 ? '0' + index : '' + index}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="time-panel-footer">
                <button type="button" class="footer-button" @click="cancel">取消</button>
                <button type="button"  class="footer-button confirm" @click="affirm">确认</button>
            </div>
            <div class="popper__arrow"><span></span></div>
       </div>
  </div>
</template>

<script>

let HOURTOTAL = 23;
let MINUSECONDTETOTAL = 60;
let SINGLEHEIGHT = 32;

export default {
    data () {
        return {
            show: false,
            value: this.fatherValue,
            hourListHeight: [],
            minuteSecondListHeight: [],
            hourIndex: 0,
            minuteIndex:0,
            secondIndex:0,
            hour: "00",
            minute: "00",
            second: "00",
            selectable: [],
            Restricminute: []
        }
    },
    model: {
        prop: 'fatherValue',
        event: 'change'
    },
    props: {
        fatherValue: {
            type: String,
            required: true
        },
        placeholder: {
            type: String
        },
        readonly: {
            type: Boolean,
            default: false
        },
        disabled: {
            type:Boolean,
            default: false
        },
        size: {
            type: String,
            default: "218px"
        },
        selectableRange: {
            type: String
        }
    },
    created(){
        if(this.selectableRange) {
            this.splitTime()
        }
        if(this.value) {
            let timeArr = this.value.split(':')
            this.hour = timeArr[0]
            this.minute = timeArr[1]
            this.second = timeArr[2]
        }
    },
    mounted () {
        //获取每个li的高度
        this.hourListHeight = this._gainLiHeights(SINGLEHEIGHT,HOURTOTAL)
        this.minuteSecondListHeight = this._gainLiHeights(SINGLEHEIGHT,MINUSECONDTETOTAL)
        document.addEventListener('click', (e) => {
            if(this.show){
                if (!this.$el.contains(e.target)) {
                    this.oldValue = this.value
                    this.show = false
                }
            }           
        })
        
    },
    computed: {
       RestrictHour() {
           return function(index) {
               if(index < this.selectable.start0 || index > this.selectable.end0) {
                   return true
               }else {
                   return false
               }
               
           }
       }
    },
    watch: {
        value(newvalue) {
            this.$emit('change',newvalue)
        },
        hour(newvalue) {
            this.Restricminute = []
            for(let i = 0; i < 60; i++) {
                this.Restricminute.push(this.RestrictHour(parseInt(newvalue)))
            }
            if(parseInt(newvalue) === this.selectable.start0) {
                for(let i = 0; i < MINUSECONDTETOTAL; i++) {
                    if( i < parseInt(this.selectable.start1)) {
                        this.Restricminute[i] = true
                    }
                }
            }
            if(parseInt(newvalue) === this.selectable.end0) {
                for(let i =0; i < MINUSECONDTETOTAL; i++) {
                    if( i > parseInt(this.selectable.end1)) {
                        this.Restricminute[i] = true
                    }
                }
            }
        },
    },
    methods:{
        panelShow() {
            this.show = !this.show
            if(this.value) {
                let timeArr = this.value.split(':')
                this.hour = timeArr[0]
                this.minute = timeArr[1]
                this.second = timeArr[2]
            }
            setTimeout(()=>{
                this.init() 
            },0)
        },
        splitTime() {
            let selectableArr = this.selectableRange.split('-')
            let startTime = selectableArr[0]
            let endTime = selectableArr[1]
            let startTimeArr = startTime.split(':')
            let endTimeArr = endTime.split(':')

            for(let i = 0; i < startTimeArr.length; i++) {
                this.selectable["start" + i] = parseInt(startTimeArr[i])
            }
            for(let i = 0; i < endTimeArr.length; i++) {
                this.selectable["end" + i] = parseInt(endTimeArr[i])
            }
        },
        //初始化滚动条的位置
        init() {
            this.ScrollTopSite(this.$refs.hourWrap,this.hourListHeight,this.hour)
            this.ScrollTopSite(this.$refs.minuteWrap,this.minuteSecondListHeight,this.minute)
            this.ScrollTopSite(this.$refs.secondWrap,this.minuteSecondListHeight,this.second)
        },
        ScrollTopSite(element,listHeight,time) {
            for(let i = 0; i < MINUSECONDTETOTAL; i++) {
                if( (i < 10 ? '0' + i : '' + i) === time){
                    element.scrollTop = listHeight[i]
                    return
                }
            }
        },
        affirm() {
            this.oldValue = this.value
            this.show = false
        },
        cancel() {
            this.value = this.oldValue
            this.show = false
        },
        //滚动事件
        scrollHour(type,event) {
            // console.log('--进来---')
            this.scrollY = event.srcElement.scrollTop
            switch (type) {
                case 1 :
                    this.hourIndex = this._Index(this.hourListHeight,this.scrollY)
                    this.hour = this.hourIndex < 10 ? '0' + this.hourIndex : '' + this.hourIndex
                    if(this.RestrictHour(this.hourIndex)){
                        this.value = this.selectable.start0 + ':'+ this.selectable.start1 +':' + this.second
                    }else {
                        this.value = this.hour + ':'+ this.minute +':' + this.second
                    }
                    break
                case 2 :
                    this.minuteIndex = this._Index(this.minuteSecondListHeight,this.scrollY)
                    this.minute = this.minuteIndex < 10 ? '0' + this.minuteIndex : '' + this.minuteIndex
                    if(this.Restricminute[this.minuteIndex]) {
                        this.value = this.selectable.start0 + ':'+ this.selectable.start1 +':' + this.second
                    }else {
                        this.value = this.hour + ':'+ this.minute +':' + this.second
                    }
                    
                    break
                case 3 :
                    this.secondIndex = this._Index(this.minuteSecondListHeight,this.scrollY)
                    this.second = this.secondIndex < 10 ? '0' + this.secondIndex : '' + this.secondIndex
                    if(this.RestrictHour(this.hourIndex) || this.Restricminute[this.minuteIndex]) {
                        this.value = this.selectable.start0 + ':'+ this.selectable.start1 +':' + this.second
                    }else {
                        this.value = this.hour + ':'+ this.minute +':' + this.second
                    }
                    
                    break
            }
           
        },
        // 点击每个li,点击事件
        clickHourItem(type,height,index,event) {
            if(type === 1) {
                if(this.RestrictHour(index)) return
            }else if(type === 2) {
                if(this.Restricminute[index]) return
            }
            event.target.parentNode.parentNode.scrollTop = height
        },
        //鼠标移除事件
        mouseleave(height1,height2,event) {
            let scrollY = event.srcElement.scrollTop
            if(scrollY >= height1 && scrollY < height2) {
               event.target.scrollTop = height1
            }
        },
        // 获取每个li的高度
        _gainLiHeights(singleHeight,total) {
            let listHeight = []
            let height = 0
            listHeight.push(height)
            for(let i = 0; i < total; i++) {
                height += singleHeight
                listHeight.push(height)
            }
            return listHeight
        },
        //获取索引
        _Index(listHeight,scrollY) {
            for(let i = 0; i < listHeight.length; i++) {
                    // 第一个li标签的高度
                    let height1 = listHeight[i]
                    // 第二个li标签的高度
                    let height2 = listHeight[i+1]

                    if(!height2 ||  (scrollY >= height1 && scrollY < height2) ){
                        return i
                    } 
            }
            return 0
        }
    },
    components: {
           
    }
}
</script>


<style lang="stylus" rel="stylesheet/stylus" scoped>
    .time
        display inline-block
        position relative
        .time-input
            height 40px
            border 1px solid #DCDFE6
            padding 0 30px
            border-radius 6px
            position relative
            &.biak
                border-color #409EFF
            .input-clock
                position absolute
                top 33%
                left 10px
                color #ddd
            .input-inner
                display: inline-block
                width 100%
                height 40px
                background none
                outline none 
                border 0
                font-size 14px
                line-height 40px
                color #606266
                &.disabled
                    color #ddd
        .time-panel
            box-shadow 0 2px 12px 0 rgba(0,0,0,.1)
            background #fff
            border 1px solid #e4e7ed
            border-radius 2px
            position absolute
            left 0
            top 54px
            width 180px
            z-index 50
            .time-panel-content
                &:before 
                    content ''
                    border-top 1px solid #e4e7ed
                    border-bottom 1px solid #e4e7ed
                    height 32px
                    padding-left 33.3%
                    box-sizing border-box
                    position absolute
                    top 80px
                    left 0
                    right 0
                    margin-right 12%
                    margin-left 12%
                    z-index -1
                .time-spinner
                    width 100%
                    white-space nowrap
                    display flex
                    .time-spinner-wrapper
                        display inline-block
                        flex 1
                        max-height 190px
                        text-align center
                        overflow hidden
                        box-sizing border-box
                        .scrollbar-wrap
                            max-height 190px
                            overflow-y scroll
                            &::-webkit-scrollbar 
                                width 6px
                                height 0px
                            &::-moz-scrollbar 
                                width 6px
                                height 0px
                            &::-ms-scrollbar 
                                width 6px
                                height 0px
                            &:hover
                                &::-webkit-scrollbar-thumb  /*滚动条里面小方块*/
                                    border-radius 5px
                                    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
                                    background rgba(0,0,0,0.1)
                                &::-moz-scrollbar-thumb  /*滚动条里面小方块*/
                                    border-radius 5px
                                    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
                                    background rgba(0,0,0,0.1)
                                &::-ms-scrollbar-thumb
                                    border-radius 5px
                                    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1);
                                    background rgba(0,0,0,0.1)
                            .spinner-list
                                .time-spinner-item
                                    height 32px
                                    font-size 12px
                                    line-height 32px
                                    color #606266
                                    cursor pointer
                                    user-select none
                                    &.restrict
                                        color #C0C4CF
                                    &.current
                                        font-weight 700
                                        color #303133
                                        cursor default
                                        &:hover
                                            background none
                                    &:hover
                                      background #f5f7fa
                                &::before 
                                    content ''
                                    display block
                                    width 100%
                                    height 80px
                                &::after
                                    content ''
                                    display block
                                    width 100%
                                    height 80px
            .time-panel-footer
                border-top 1px solid #e4e4e4
                padding 4px
                height 36px
                line-height 25px
                text-align right
                -webkit-box-sizing border-box
                box-sizing border-box
                .footer-button
                    border 0
                    background-color transparent
                    outline none
                    font-size 12px
                    color #303133
                    cursor pointer
                    user-select none
                    &.confirm
                        font-weight 700
                        color #409EFF
            .popper__arrow
                width 0
                height 0
                border-width 0 6px 6px
                border-style solid
                border-color transparent transparent #fff/*透明 透明  灰*/
                position absolute
                top -6px
                left 30px
</style>