<template>
  <div class="demo_block" >
        <h2>基本用法</h2>
        <div class="source">
            <timePicker 
                v-model="value1"
                placeholder="任意时间点"
                :readonly="true"
                size="200px"
            ></timePicker>
    
             <timePicker 
                v-model="value2"
                placeholder="任意时间点"
                size="200px"
            ></timePicker>
        </div>
        <h2>可选时间段</h2>
        <div class="source">
             <timePicker 
                v-model="value2"
                placeholder="任意时间点"
                size="200px"
                selectableRange="18:30:30-20:45:30"
            ></timePicker>
        </div>
        <div class="max"></div>
        <table class="default-table">
            <thead>
                <tr>
                    <th>参数</th>
                    <th>说明</th>
                    <th>类型</th>
                    <th>默认值</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>value</td>
                    <td>可选，选择器打开时默认显示的时间</td>
                    <td>string</td>
                    <td>必选项</td>
                </tr>
                <tr>
                    <td>placeholder</td>
                    <td>非范围选择时的占位内容</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>readonly</td>
                    <td>input只读</td>
                    <td>Boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>size</td>
                    <td>输入框尺寸</td>
                    <td>string</td>
                    <td>218px</td>
                </tr>
                <tr>
                    <td>change</td>
                    <td>返回值的事件函数</td>
                    <td>function</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>selectableRange</td>
                    <td>可选时间段，例如'18:30:00 - 20:30:00'</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>

  </div>
</template>

<script>
import timePicker from './timePicker.vue'
export default {
    data () {
        return {
            value1: "",
            value2: "20:30:40"
        }
    },
    created(){
        // setInterval(()=>{
        //      console.log(this.value1)
        // },1000) 
    },
    mounted () {
           
    },
    methods:{
        
    },
    components: {
        timePicker
    }
}
</script>


<style lang="stylus" rel="stylesheet/stylus" scoped>
.max
    width 100%
    height 210px
</style>