
.demo_block
  >.source
    border 1px solid #f5f5f5
    border-radius 5px
    padding 24px
  >h2
    font-size 18px
    margin 30px 0
  >p
    margin 15px 0

.default-table
  border-collapse collapse
  border-spacing 0
  empty-cells show
  border 1px solid #e9e9e9
  width 100%
  margin 16px 0 16px
  font-size 14px
  color #666
  & th
    background #f7f7f7
    white-space nowrap
    color #5c6b77
    font-weight 600
  & td,th
    border 1px solid #e9e9e9
    padding 8px 16px
    text-align left
  & tr
    display table-row
    vertical-align inherit
    border-color inherit
  & code
    margin: 0 1px;
    background: #f7f7f7;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee;
