<template>
  <div class="datetime-picker" :style="{ width: width}">
        <input type="text" :placeholder="placeholder" @click="show = !show" v-model="value">
        <!-- <span class="picker-ico"  title="清空">
            <icon name="calendar-o"></icon>
        </span> -->
      <div class="picker-wrap" v-if="show">
          <table class="date-picker" >
              <thead>
                  <tr class="date-head">
                    <th colspan="4">
                        <span class="btn-prev" @click="setYear('-')"><icon name="angle-left"></icon></span>
                        <span class="show-month">{{formatDate(now,"yyyy")}}</span>
                        <span class="btn-next"  @click="setYear('+')"> <icon name="angle-right"></icon></span>
                    </th>
                    <th colspan="3">
                      <span class="btn-prev" @click="setMonth('-')"><icon name="angle-left"></icon></span>
                      <span class="show-month">{{formatDate(now,"MM")}}</span>
                      <span class="btn-next" @click="setMonth('+')"><icon name="angle-right"></icon></span>
                    </th>
                  </tr>
                  <tr class="date-days" style="border-bottom:1px solid #f5f5f5">
                      <td v-for="week in weeks" :key="week"> {{ week }} </td>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="(i,k) in 6 " :key="k">
                        <td v-for="(item,index) in 7" :key="index"
                        :style="days[index+7*k].now ? '':'color:#ccc'"
                        :class="days[index+7*k].day == formatDate(!value ? now :value) ? 'active':''"
                        @click="pickDate(days[index+7*k].day)"
                        >
                            {{days[index+7*k].showDay}}    
                        </td>  
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</template>

<script>
export default {
    data () {
        return {
            value:"",
            now: new Date(),
            show:false,
            weeks:['一','二','三','四','五','六','日'],
            days:[]
        }
    },
    props: {
            width: {
                type: String,
                default: '242px'
            },
            placeholder: {
                type: String,
                default: ''
            },
            defaultValue:{
            type: String,
            default: ''
            },
            format: {
                type:String,
                default: 'yyyy-MM-dd'
            },
            //是否在选中日期后关闭选择层
            isClose: {
                type: Boolean,
                default: true
            }
        },
    created(){
        if(this.defaultValue){
            this.value = this.defaultValue;
            this.now = new Date(this.defaultValue);
        }
        this.getDays();
    },
    mounted () {
            //这里应该在日历显示的时候加事件，隐藏的时候移除事件
            document.addEventListener('click', (e) => {
                if(this.show){
                    if (!this.$el.contains(e.target)) this.show = false
                }            
            })
        },
    methods:{
            pickDate(date){
                this.value = date;
                this.now = new Date(date);
                this.$emit("changesheng",date);
                this.getDays();
                if(this.isClose){
                    this.show = false;
                }
            },
            getDays(){
                let [nowMonthFirstDay,nowMonthLastDay,preMonthLastDay] =[
                new Date(this.now.getFullYear(),this.now.getMonth(),1),//获取当月第一天
                new Date(this.now.getFullYear(),this.now.getMonth()+1,0),//获取当月最后一天
                new Date(this.now.getFullYear(),this.now.getMonth(),0)//获取上个月最后一天
                ]

                let couFirstDay = nowMonthFirstDay.getDay(); //获取当月第一天是周几

                // 当月前面要显示的日期
                let startDays = (()=>{
                    let tempArr = [];
                    let length = couFirstDay === 0 ? 6 : couFirstDay-1;
                    for(let i = length; i > 0;i--){
                    tempArr.push({
                        now:false,
                        day:this.formatDate(new Date(this.now.getFullYear(),this.now.getMonth()-1,preMonthLastDay.getDate()-i+1)),
                        showDay:this.formatDate(new Date(this.now.getFullYear(),this.now.getMonth()-1,preMonthLastDay.getDate()-i+1),"dd")
                    })
                    
                    }
                    return tempArr;
                })();

                // 当月要显示的日期
                let nowDays = (()=>{
                    let tempArr =[];
                    let length = nowMonthLastDay.getDate();
                    for(let i = 0; i<length;i++){
                    tempArr.push({
                        now:true,
                        day:this.formatDate(new Date(this.now.getFullYear(),this.now.getMonth(),i+1)),
                        showDay:this.formatDate(new Date(this.now.getFullYear(),this.now.getMonth(),i+1),"dd")
                    })
                    }
                    return tempArr;
                })()

                //当月后面要显示的日期
                let endDays = (()=>{
                    let tempArr =[];
                    let length = 42 - nowMonthLastDay.getDate() - startDays.length;
                    for(let i =0; i < length;i++){
                    tempArr.push({
                        now:false,
                        day:this.formatDate(new Date(this.now.getFullYear(),this.now.getMonth()+1,i+1)),
                        showDay: this.formatDate(new Date(this.now.getFullYear(),this.now.getMonth()+1,i+1),"dd")
                    })
                    }
                    return tempArr;
                })()

                this.days = startDays.concat(...nowDays, ...endDays);
                [endDays,nowDays,startDays] = [null,null,null];
            },
            setYear(type){
                type = type === "+" ? 1 : -1;
                this.now = new Date(this.now.getFullYear()+type,this.now.getMonth());
                this.getDays();
            },
            setMonth(type){
                type = type === "+" ? 1 : -1;
                this.now = new Date(this.now.getFullYear(),this.now.getMonth()+type);
                this.getDays();
            },

            formatDate (date,format) {
                    if (typeof date === 'string') {
                        date = new Date(Date.parse(date.replace(/-\/./g, "/")));
                    }
                    let newFormat = format || this.format
                    , o = {
                        "M+" : date.getMonth()+1,                 //月份
                        "d+" : date.getDate(),                    //日
                        "h+" : date.getHours(),                   //小时
                        "m+" : date.getMinutes(),                 //分
                        "s+" : date.getSeconds(),                 //秒
                        "q+" : Math.floor((date.getMonth()+3)/3), //季度
                        "S"  : date.getMilliseconds()             //毫秒
                    };
                    if(/(y+)/.test(newFormat)){
                        newFormat = newFormat.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length));
                    }
                    for(let k in o){
                        if(new RegExp("("+ k +")").test(newFormat)){
                            newFormat = newFormat.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                        }
                    }
                    return newFormat;
                }
    },
}
</script>


<style lang="stylus" rel="stylesheet/stylus" scoped>
.datetime-picker
    position relative
    display inline-block
    color #333
    & > *
        box-sizing border-box
    & > input
        width 100%
        height 35px
        padding 5px 10px
        outline 0 none
        border 1px solid #ddd
        font-size 13px
        border-radius 5px
        cursor pointer
    .picker-ico
        position absolute
        right 8px
        top 8px
        color #ccc
        cursor pointer
    .picker-wrap
        position absolute
        z-index 1000
        width 242px
        height 280px
        margin-top 1px
        background #fff
        box-shadow 0 0 6px rgba(0,0,0,.3)
        table 
            width 100%
            border-collapse collapse
            border-spacing 0
            text-align center
            font-size 13px
            tr 
                height 34px
                border 0 none
            th,td 
                user-select none
                width 34px
                height 34px
                padding 0
                border 0 none
                line-height 34px
                text-align center
            td 
                transition background .1s
                cursor pointer
                &:hover
                    background #f0f0f0
                &.active
                    background #3bb4f2
                    color #fff
        .date-head
            background #3bb4f2
            text-align center
            color #fff
            font-size 14px
            .date-days
                color #3bb4f2
                font-size 14px
                border 1px solid #ccc
            .show-month
                min-width 28px
            .btn-prev,.btn-next 
                cursor pointer
                padding 0 10px
                vertical-align middle
</style>
