<template>

    <div class="demo_block">
        <h2>基本用法</h2>
        <div class="source">
            <lz-datepicker
                @changesheng ="pickDate"
                width="242px"
                placeholder="请选择日期"
            ></lz-datepicker>
        </div>
    </div>
    
</template>

<script type="text/ecmascript-6">
import lzDatepicker from "./datepicker"
    export default {
        data () {
            return {
                date:"2017-08-20"
            }
        },
        methods: {
            pickDate (v) {
                console.log(v)
            }
        },
        components: {
            lzDatepicker
        }
    }
</script>