
<template>
    <ul class="export-box">
        <button class="lz_btn btn-lan" @click="showSubbox">
            <icon :name="'download'"></icon> 导出</button>
        <div class="subbox" v-show="subbox" >
            <h2 style="color:#3e8feb">请选择导出范围</h2>
            <p>数量：<input type="number" class="lz_input" style="width: 70px" placeholder = "起始" v-model="start">
             - <input type="number" class="lz_input"  v-model="end" style="width: 70px" placeholder = "终止" :max="dataTotal"></p>
            <button class="lz_btn btn-lan" @click="showSubbox">取消</button>    
            <button class="lz_btn btn-lan" @click="checkExport" style="margin-left: 8px" :disabled="start*1 >= end*1">确定</button>
            <span class="loading" v-show="loading">正在导出…</span>
        </div>
        <iframe v-if="excelDownLoadUrl" :src="excelDownLoadUrl" frameborder="0" width="0" height="0"></iframe>
    </ul>
    
</template>

<script type="text/ecmascript-6">
    export default {
        data () {
            return {
                subbox: false,
                start: 1,
                end: 15,
                excelDownLoadUrl: "",
                loading: false
            }
        },
        props: {
            dataTotal: {type: Number, default: 0},
        },
        methods: {
            showSubbox () {
                this.subbox = !this.subbox;
                this.excelDownLoadUrl = "";
            },
            checkExport () {
                if(this.end*1 > this.dataTotal){
                    this.$layer.msg("结束条数不能超过总数据量：" + this.dataTotal);
                } else {
                    this.exportCallback();
                }                
            },
            exportCallback () {              
                this.$emit("change",this.start,this.end,this.callback)       
            },
            callback (v) {
                this.excelDownLoadUrl = v + "&t=" + new Date()*1;
            }
        }
    }
</script>
<style lang="stylus" rel="stylesheet/stylus" scoped>
    /*选择列表*/
    .export-box
        box-sizing border-box
        vertical-align middle
        height 35px
        display block
        box-sizing border-box
        position relative
        float right
        .subbox
            position absolute
            top 35px
            right 0px
            border 2px solid #ccc
            padding 20px
            background #fff
            width 280px
            height auto
            $ > h2 
                color #3e8feb
            & > p
                margin 20px 0                
        .loading
            margin-left: 15px
            color rgb(62, 143, 235)
</style>