<template>

    <div class="demo_block">
        <h2>基本用法</h2>
        <div class="source">
            <lz-cityganged
                @change = "reception"
                :default-value = obj
            ></lz-cityganged>
        </div>
    </div>
    
</template>

<script type="text/ecmascript-6">
import lzCityganged from "./cityganged.vue"
    export default {
        data () {
            return {
               obj:{
                    prov:"广东",
                    city:"深圳",
                    district:"盐田区",
               } 
            }
        },
        methods: {
           reception(data){
               console.log(data)
               console.log(1)
           }
        },
        components: {
            lzCityganged
        }
    }
</script>