<template>
    <div>
        <span class="select-box" >
            <select class="select" v-model="prov">
                <option v-for="item in arr" :value="item.name">
                    {{item.name}}
                </option>
            </select>
        </span>
        <span class="select-box" >
            <select class="select" v-model="city">
                <option v-for="item in cityArr" :value="item.name" >
                    {{item.name}}
                </option>
            </select>
        </span>
        <span class="select-box" >
            <select class="select" v-model="district">
                <option v-for="item in districtArr" :value="item">
                    {{item}}
                </option>
            </select>
        </span>
    </div>
</template>

<script>
import ArrData from './data.js'
export default {
    data () {
        return {
            arr:[],
            prov:'',
            city:'',
            district:'',
            cityArr: [],
            districtArr: [],
            passdata:{
                prov:"",
                city:"",
                district:"",
            }
        }
    },
    props: {
        defaultValue:{
            type:Object,
            default:{}
        }
    },
    created(){
        this.arr = ArrData
        
    },
    mounted () {
       
    },
    beforeMount(){
        this.prov = this.defaultValue.prov
    },
    methods:{
         updateCity(){
            for(var i = 0; i < this.arr.length; i++){
                var obj = this.arr[i]
                if(obj.name == this.prov){
                    this.cityArr = obj.city;
                    break;
                }
            }
            if(this.defaultValue.city){
                this.city = this.defaultValue.city;
                this.defaultValue.city ='';
            }else{
                this.city = this.cityArr[0].name;
            }
         },
         updateDistrict(){
            for(var i = 0; i < this.cityArr.length;i++){
                var obj = this.cityArr[i];
                if(obj.name == this.city){
                    this.districtArr = obj.area
                    break;
                }
             }

             if(this.defaultValue.district){
                this.district = this.defaultValue.district;
                this.defaultValue.district = '';
             }else{
                this.district = this.districtArr[0]
             }
         }
    },
    watch:{
        prov: function(newVla,oldVla){
            this.updateCity();
            this.passdata.prov = newVla
        },
        city: function(newVla){
            this.updateDistrict();
            this.passdata.city = newVla
        },
        district: function(newVla){
            this.passdata.district = newVla
            this.$emit("change",this.passdata)
        }
    }
}
</script>


<style lang="stylus" rel="stylesheet/stylus" scoped>
.select-box
        border solid 1px #ddd
        box-sizing border-box
        vertical-align middle
        width 160px
        display inline-block
        padding 4px 5px
        margin-right 15px
        border-radius 3px
        .select
            border none
            box-sizing border-box
            cursor pointer
            line-height normal
            font-weight normal
            width 100%
            white-space nowrap
            font-size 14px
            &.disabled
                color #ccc
                cursor not-allowed

</style>
